body > #root > div {
  height: 100vh;
}

#all {
  display: flex;
  direction: ltr;
  flex-wrap: wrap;
  height: 100%;
}

#Header {
  height: 10%;
  width: 100%;
  background-color: #171a21;
  font-size: 1.5em;
  display: flex;
  align-items: center; 
  color: white;
}

#Header spam {
  padding-left: 0.5em;
}

#Search {
  height: 90%;
  width: 25%;
  background-color: rgb(55, 55, 55);
  flex-grow: 0.2;
}

#Search button{
  margin-top: 1.0em;
  width: 100%;
  color: black;
}

/* .App {
  height: 100%;
} */